<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FormIO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div id="builder"></div>
<script src="../static/js/formio.full.min.js"></script>
<script src="../static/js/jquery-3.7.1.js"></script>
<script>
    const BASE_URL = "http://localhost:8080";
    $(document).ready(() => {
        // loadFormAPI('0eed6580-5a12-4d52-971b-62fdff895a24')
    })

    function loadFormAPI(formId) {
        $.ajax({
            url: BASE_URL + `/api/forms/${formId}`,
            method: 'GET',
            success: function (res) {
                generateForm(res.components)
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function generateForm(components) {
        Formio.createForm(document.getElementById('builder'),
            {
                components: [
                    {
                        "autofocus": false,
                        "input": true,
                        "tableView": true,
                        "inputType": "text",
                        "inputMask": "",
                        "label": "Họ và tên",
                        "key": "formOpenCard_fullName",
                        "placeholder": "",
                        "prefix": "",
                        "suffix": "",
                        "multiple": false,
                        "defaultValue": "",
                        "protected": false,
                        "unique": false,
                        "persistent": true,
                        "hidden": false,
                        "clearOnHide": true,
                        "spellcheck": true,
                        "validate": {
                            "required": true,
                            "minLength": "",
                            "maxLength": "",
                            "pattern": "",
                            "custom": "",
                            "customPrivate": false
                        },
                        "conditional": {"show": "", "when": null, "eq": ""},
                        "type": "textfield",
                        "labelPosition": "top",
                        "inputFormat": "html",
                        "tags": [],
                        "properties": {},
                        "lockKey": true
                    },
                    {
                        "autofocus": false,
                        "input": true,
                        "inputType": "checkbox",
                        "tableView": true,
                        "label": "Xác nhận điều khoản",
                        "dataGridLabel": false,
                        "key": "formOpenCard_policy",
                        "defaultValue": false,
                        "protected": false,
                        "persistent": true,
                        "hidden": false,
                        "name": "",
                        "value": "",
                        "clearOnHide": true,
                        "validate": {"required": true},
                        "type": "checkbox",
                        "labelPosition": "right",
                        "hideLabel": false,
                        "tags": [],
                        "conditional": {"show": "", "when": null, "eq": ""},
                        "properties": {},
                        "lockKey": true,
                        "isNew": false
                    },
                    {
                        "autofocus": false,
                        "input": true,
                        "label": "Submit",
                        "tableView": false,
                        "key": "submit",
                        "size": "md",
                        "leftIcon": "",
                        "rightIcon": "",
                        "block": false,
                        "action": "submit",
                        "disableOnInvalid": false,
                        "theme": "primary",
                        "type": "button"
                    }
                ]
            }
        );
    }
</script>
</body>
</html>