<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FormIO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<div id="builder"></div>
<script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>
    const BASE_URL = "http://localhost:8080";
    $(document).ready(() => {
        loadFormAPI('0eed6580-5a12-4d52-971b-62fdff895a24')
    })

    function loadFormAPI(formId) {
        $.ajax({
            url: BASE_URL + `/api/forms/${formId}`,
            method: 'GET',
            success: function (res) {
                generateForm(res.components)
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function generateForm(components) {
        Formio.createForm(document.getElementById('builder'), {components});
    }
</script>
</body>
</html>